<div id="postagem">
	<h2><a href='/posts/<%= @post.id %>'><%= @post.title %></a></h2>
	<span class="data-postagem">postado em 12 Março 2015</span>
	<img class="img-postagem" src='<%= @post.image %>'>
	<p>
		<%= @post.content %>
	</p>
	<span class="postado">Postado por Fillipe Ferreira</span>
</div>

<h1> Create a new comment </h1>
<%= form_for [ @post, @comment ] do |f| %>
  <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
  </p>
  <p>
      <%= f.label :content %><br/>
      <%= f.text_area :content %>
  </p>
  <p>
      <%= f.label :rating %><br/>
      <%= f.text_field :rating %>
  </p>
  <p>
      <%= f.submit 'Submit' %>
  </p>
<% end %>

<h1>Comments (<%= @post.comments.count %>)</h1><br>
<% @post.comments.reverse.each do |comment| %>

    <p><%= comment.title %> </p>
    <p><%= comment.content %> </p>
    <p><% comment.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>   
    </p>
    <br>
    <hr>
    
<% end %>